manifest {
    mainScript = 'nCov.nf'
}

// default parameters
params {
    cores = "8"
    memory = '12'
    help = false
    profile = false

    // inputs
    dir = ''
    fasta = ''
    multifasta = ''
    fastq = ''

    references = ''
    metadata = ''
    barcodeIDs = ''

    // settings
    single = false
    localguppy = false
    buildDB = false
    cloudProcess = false

    // parameters
    primerV = 'V3'
    minLength = '400'
    maxLength = '700'
    maskBegin = '70'
    maskEnd = '70'
    highlight = 'barcode'

    // folder structure
    output = 'results'
    cachedir = "singularity_images"
    databases = "references_nCov19"

}

profiles {
    local {
        workDir = "/tmp/nextflow-nCov-$USER"
        includeConfig 'configs/local.config'
    }
    
    docker {
        includeConfig 'configs/docker.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config'
    }
    gcloud {
        params.cloudProcess = true
        workDir = "/tmp/nextflow-docker_pipelines-$USER"
        bucketDir = 'gs://nextflow-tmp-workdir/workdir-analysis'
        google {  project = 'nextflow-auto' ; zone = 'europe-west1-b' }
        cloud { preemptible = true }
        includeConfig 'configs/gcloud.config'
    }
}