process {
    
    withLabel:  artic       { container = 'nanozoo/artic-ncov2019:0.1--3170f61' }
    withLabel:  augur       { container = 'quay.io/biocontainers/augur:6.4.3--py_0'}
    withLabel:  bwa         { container = 'nanozoo/pilon:1.23--b21026d' }
    withLabel:  fasttree    { container = 'nanozoo/fasttree:2.1.10--1473542' }
    withLabel:  ggplot2     { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
    withLabel:  pangolin    { container = 'nanozoo/pangolin:1.0.2--d4db9dd' }
    withLabel:  snp_sites   { container = 'biocontainers/snp-sites:v2.4.1-1-deb_cv1' }
    withLabel:  toytree     { container = 'nanozoo/toytree:1.1.2--1295ae6' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }

}