process {
    // DONT add GUPPY containers here !!! they are maintained via process
    // pangolin container is maintained via params.defaultpangolin in nextflow.config
    // nextclade container is maintained via params.defaultpangolin in nextflow.config
    withLabel:  artic       { container = 'nanozoo/artic:1.3.0-dev--784493e' }
    withLabel:  bwa         { container = 'nanozoo/bwa:0.7.17--d11c0a4' }
    withLabel:  covarplot   { container = 'nanozoo/covarplot:0.0.2--2c6e300' }
    withLabel:  demultiplex { container = 'nanozoo/guppy_cpu:5.0.7-1--47b84be' }
    withLabel:  fastcov     { container = 'raverjay/fastcov:0.1.3--ba8c8cf6ae19' }
    withLabel:  ggplot2     { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
    withLabel:  kraken2     { container = 'nanozoo/kraken2:2.1.1--d5ded30'}
    withLabel:  krona       { container = 'nanozoo/krona:2.7.1--e7615f7'}
    withLabel:  lcs_sc2     { container = 'nanozoo/lcs_sc2:1.1.0--3741450'}
    withLabel:  minimap2    { container = 'nanozoo/minimap2:2.17--7066fef' }
    withLabel:  nanoplot    { container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel:  president   { container = 'rkimf1/president:0.6.8--4616f6d' }
    withLabel:  pycoqc      { container = 'nanozoo/pycoqc:2.5.0.23--320ecc7' }
    withLabel:  seqrs       { container = 'nanozoo/seqrs:0.3.0--cf5ee57' }
    withLabel:  snp_sites   { container = 'biocontainers/snp-sites:v2.4.1-1-deb_cv1' }
    withLabel:  toytree     { container = 'nanozoo/toytree:1.1.2--1295ae6' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }
}
