process {
    // DONT add GUPPY containers here !!! they are maintained via process
    withLabel:  artic       { container = 'nanozoo/artic:1.2.1--94a87d0' }
    withLabel:  augur       { container = 'quay.io/biocontainers/augur:6.4.3--py_0'}
    withLabel:  bwa         { container = 'nanozoo/bwa:0.7.17--d11c0a4' }
    withLabel:  fasttree    { container = 'nanozoo/fasttree:2.1.10--1473542' }
    withLabel:  ggplot2     { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
    withLabel:  kraken2     { container = 'nanozoo/kraken2:2.1.1--d5ded30'}
    withLabel:  krona       { container = 'nanozoo/krona:2.7.1--e7615f7'}
    withLabel:  nanoplot    { container = "nanozoo/nanoplot:1.32.0--1ae6f5d" }
    withLabel:  nextclade   { container = 'neherlab/nextclade:0.12.0'}
    withLabel:  pangolin    { container = 'nanozoo/pangolin:v2.2.2--2d02f74' }
    withLabel:  president   { container = 'nanozoo/president:v0.3.0--d406742' }
    withLabel:  pycoqc      { container = 'nanozoo/pycoqc:2.5.0.23--320ecc7' }
    withLabel:  snp_sites   { container = 'biocontainers/snp-sites:v2.4.1-1-deb_cv1' }
    withLabel:  toytree     { container = 'nanozoo/toytree:1.1.2--1295ae6' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }
}
