docker { enabled = true }

process {
    withLabel: abricate     { container = 'nanozoo/abricate:0.9.8--97b9f1e' }  
    withLabel: baloonplot   { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
    withLabel: bedtools     { container = 'quay.io/biocontainers/bedtools:2.29.2--hc088bd4_0' }
    withLabel: blast        { container = 'nanozoo/blast:2.9.0--ded80ad' }
    withLabel: bokeh        { container = 'quay.io/biocontainers/cami-opal:1.0.5--py_2' } 
    withLabel: bwa          { container = 'quay.io/biocontainers/shovill:1.0.4--0'  }
    withLabel: centrifuge   { container = 'nanozoo/centrifuge:v1.0.4-beta--fab181c' } 
    withLabel: chromomap    { container = 'nanozoo/r_fungi:0.1--097b1bb' }
    withLabel: emboss       { container = 'quay.io/biocontainers/emboss:6.5.7--4' }
    withLabel: fargene      { container = 'nanozoo/fargene:0.1--df641ae'}
    withLabel: fasttree     { container = 'nanozoo/fasttree:2.1.10--1473542' }
    withLabel: filtlong     { container = 'nanozoo/filtlong:v0.2.0--afa175e' }
    withLabel: flye         { container = 'nanozoo/flye:2.5--bae51d9' } 
    withLabel: ggplot2      { container = 'nanozoo/r_fungi:0.1--097b1bb' }
    withLabel: gtdbtk       { container = 'nanozoo/gtdbtk:0.3.2--676fab7' }     
    withLabel: krona        { container = 'nanozoo/krona:2.7.1--658845d' }
    withLabel: mafft        { container = 'nanozoo/mafft:7.455--a988e44'}
    withLabel: medaka       { container = 'nanozoo/medaka:0.10.0--1e71fdd' } 
    withLabel: metamaps     { container = 'nanozoo/metamaps:latest' }
    withLabel: minimap2     { container = 'nanozoo/minimap2:2.17--caba7af' } 
    withLabel: nanoplot     { container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
    withLabel: plasflow     { container = 'quay.io/biocontainers/plasflow:1.1.0--py35_0' }
    withLabel: prokka       { container = 'nanozoo/prokka:1.14.5--33be639' }
    withLabel: rmetaplot    { container = 'replikation/r-metasourmash:v0.2' } 
    withLabel: samtools     { container = 'nanozoo/pilon:1.23--b21026d' }
    withLabel: seqtk        { container = 'quay.io/biocontainers/fusioncatcher-seqtk:1.2--h84994c4_0'}
    withLabel: sourmash     { container = 'nanozoo/sourmash:2.3.0--4257650'  }
    withLabel: toytree      { container = 'nanozoo/toytree:1.1.2--1295ae6' }
    withLabel: artic        { container = 'nanozoo/artic-ncov2019:0.0--44566ac' }
}