docker { enabled = true }

process {
    withLabel:  artic       { container = 'nanozoo/artic-ncov2019:0.0--44566ac' }
    withLabel:  fasttree    { container = 'nanozoo/fasttree:2.1.10--1473542' }
    withLabel:  mafft       { container = 'quay.io/biocontainers/mafft@sha256:e8be9ec4e387a572edfd256624833175ce66e0622e41c071cc7a8239fa60fc8e' }
    withLabel:  snp_sites   { container = 'biocontainers/snp-sites:v2.4.1-1-deb_cv1' }
    withLabel:  toytree     { container = 'nanozoo/toytree:1.1.2--1295ae6' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }
    withLabel:  augur       { container = 'quay.io/biocontainers/augur:6.4.3--py_0'}
}