process {   
    executor = 'google-pipelines'
            
    withLabel:  artic       { cpus = 8 ; memory = '24 GB' }
    withLabel:  fasttree    { cpus = 8 ; memory = '24 GB' }
    withLabel:  gubbins     { cpus = 8 ; memory = '24 GB' }
    withLabel:  snippy      { cpus = 8 ; memory = '24 GB' }
    withLabel:  ubuntu      { cpus = 2 ; memory = '8 GB' } 
} 