
process {   
            executor = 'google-pipelines'
            
            withLabel: abricate { cpus = 6 ; memory = '14 GB' }  
            withLabel: bwa { cpus = 16 ; memory = '20 GB' }
            withLabel: centrifuge { cpus = 26 ; memory = '160 GB' } 
            withLabel: dev { cpus = 40 ; memory = '300 GB' }
            withLabel: emboss { cpus = 2 ; memory = '6 GB' }
            withLabel: filtlong { cpus = 16 ; memory = '20 GB' } 
            withLabel: ggplot2 { cpus = 2 ; memory = '6 GB' }
            withLabel: gtdbtk { cpus = 34 ; memory = '180 GB' } 
            withLabel: krona { cpus = 2 ; memory = '6 GB' }
            withLabel: metamaps { cpus = 34 ; memory = '180 GB' }
            withLabel: nanoplot { cpus = 8 ; memory = '24 GB' }
            withLabel: plasflow { cpus = 8 ; memory = '16 GB' }
            withLabel: rmetaplot { cpus = 1 ; memory = '4 GB' } 
            withLabel: seqtk { cpus = 8 ; memory = '16 GB' }
            withLabel: sourmash { cpus = 8 ; memory = '24 GB' }

            // give the ubuntu a container
            withLabel: ubuntu { cpus = 1 ; memory = '2 GB' ; container = 'nanozoo/gtdbtk:0.3.2--676fab7' } 
        } 