process.executor = 'local'

process {
    withLabel:  artic       { cpus = params.cores }
    withLabel:  fasttree    { cpus = params.cores }
    withLabel:  gubbins     { cpus = params.cores }
    withLabel:  mafft       { cpus = params.cores }
    withLabel:  bwa       { cpus = params.cores }
    withLabel:  snippy      { cpus = params.cores; memory = params.memory }
    withLabel:  ubuntu      { cpus = 1 } 
}