process.executor = 'local'

process {
    withLabel:  artic       { cpus = params.cores }
    withLabel:  bwa         { cpus = params.cores }
    withLabel:  demultiplex { cpus = params.cores }
    withLabel:  fastcov     { cpus = 4 }
    withLabel:  ggplot2     { cpus = 4 }
    withLabel:  guppy_cpu   { cpus = params.cores }
    withLabel:  guppy_gpu   { cpus = params.cores }
    withLabel:  kraken2     { cpus = params.cores }
    withLabel:  krona       { cpus = 1 }
    withLabel:  minimap2    { cpus = params.cores }    
    withLabel:  nanoplot    { cpus = 4 }
    withLabel:  nextclade   { cpus = params.cores }
    withLabel:  pangolin    { cpus = 4 }
    withLabel:  president   { cpus = 1 }
    withLabel:  pycoqc      { cpus = 4 }
    withLabel:  snp_sites   { cpus = 4 }
    withLabel:  ubuntu      { cpus = 1 } 
}
