process {
    withLabel:  artic       { cpus = 20; memory = '20 GB' }
    withLabel:  augur       { cpus = 8; memory = '12 GB' }
    withLabel:  bwa         { cpus = 12; memory = '12 GB' }
    withLabel:  fasttree    { cpus = 4; memory = '2 GB' }
    withLabel:  gubbins     { cpus = 2; memory = '2 GB' }
    withLabel:  mafft       { cpus = 8; memory = '4 GB' }
    withLabel:  nanoplot    { cpus = 8; memory = '8 GB' }
    withLabel:  pangolin    { cpus = 4; memory = '4 GB' }
    withLabel:  president   { cpus = 1; memory = '2 GB' }
    withLabel:  snippy      { cpus = 4; memory = '4 GB' }
    withLabel:  ubuntu      { cpus = 2; memory = '2 GB' }
    withLabel:  guppy_cpu   { cpus = 60; memory = '60 GB' }
    withLabel:  guppy_gpu   { cpus = 10; memory = '16 GB' }
}
