process {
    withLabel:  artic       { cpus = 20; memory = '20 GB' }
    withLabel:  bwa         { cpus = 12; memory = '12 GB' }
    withLabel:  fastcov     { cpus = 4; memory = '8 GB' }
    withLabel:  fasttree    { cpus = 4; memory = '2 GB' }
    withLabel:  ggplot2     { cpus = 2; memory = '2 GB' }
    withLabel:  guppy_cpu   { cpus = 60; memory = '60 GB' }
    withLabel:  guppy_gpu   { cpus = 10; memory = '16 GB' }
    withLabel:  kraken2     { cpus = 20; memory = '60 GB' }
    withLabel:  krona       { cpus = 2; memory = '2 GB' }
    withLabel:  minimap2    { cpus = 12; memory = '12 GB' }
    withLabel:  nanoplot    { cpus = 8; memory = '8 GB' }
    withLabel:  nextclade   { cpus = 8; memory = '8 GB' }
    withLabel:  pangolin    { cpus = 4; memory = '4 GB' }
    withLabel:  president   { cpus = 1; memory = '2 GB' }
    withLabel:  pycoqc      { cpus = 4; memory = '4 GB' }
    withLabel:  snp_sites   { cpus = 4; memory = '4 GB' }
    withLabel:  ubuntu      { cpus = 2; memory = '2 GB' }
}